<div class="rounded-md p-4 {{this.backgroundColor}}">
  <div class="flex">
    <div class="w-5 shrink-0">
      {{#let (concat "size-4 mt-0.5 ml-0.5" " " this.iconColor) as |iconClass|}}
        {{#if (eq @skin "error")}}
          {{svg-jar "x-circle-fill" class=iconClass}}
        {{else if (eq @skin "warning")}}
          {{svg-jar "exclamation-circle-fill" class=iconClass}}
        {{else if (eq @skin "success")}}
          {{svg-jar "check-circle-fill" class=iconClass}}
        {{else if (eq @skin "info")}}
          {{svg-jar "info-circle-fill" class=iconClass}}
        {{/if}}
      {{/let}}
    </div>
    <div class="ml-3">
      {{#if @title}}
        <h3 class="text-sm font-medium {{this.titleColor}}">
          {{@title}}
        </h3>
      {{/if}}
      {{#if (has-block)}}
        {{yield}}
      {{/if}}
      {{#if @message}}
        <div
          class="text-sm {{if @title "mt-2" ""}} {{this.messageColor}}"
        >
          <p>{{@message}}</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>