{{#if this.selectionInfo}}
  {{#if this.clickedEventInfo}}
    <TimeLogPopover
      @anchorElement={{this.clickedDateElement}}
      @selectedWorkLog={{this.clickedWorkLog}}
      @workLogs={{this.workLogsForSelection}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
    />
  {{else}}
    <TimeLogPopover
      @anchorElement={{this.clickedDateElement}}
      @workLogs={{this.workLogsForSelection}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @isOverwrite={{and
        this.hasSelectedMultipleDates
        this.workLogsForSelection
      }}
    />
  {{/if}}
{{/if}}
<div
  class="full-calendar h-full"
  {{did-update this.goToMonth @firstDayOfMonth}}
  {{did-update this.updateDisabled @isDisabled @focusDate}}
  {{did-update this.reloadCalendarEvents @workLogs}}
  {{did-insert this.setupCalendar}}
></div>