{{#if this.clickedDateInfo}}
  <TimeLogPopover
    @anchorElement={{this.clickedDateElement}}
    @projects={{@projects}}
    @favoriteProjects={{@favoriteProjects}}
    @onSaveSimple={{this.onSaveSimple}}
    @onSaveMulti={{this.onSaveMulti}}
    @onCancel={{this.onCancel}}
  />
{{/if}}
{{#if this.clickedEventInfo}}
  <TimeEditPopover
    @anchorElement={{this.clickedDateElement}}
    @projects={{@projects}}
    @favoriteProjects={{@favoriteProjects}}
    @selectedHourLog={{this.clickedWorkLog}}
    @onSave={{this.editWorkLog}}
    @onCancel={{this.onCancel}}
    @onDelete={{fn this.deleteWorkLog this.clickedWorkLog}}
  />
{{/if}}
<div
  class="full-calendar h-full"
  {{did-update this.updateAndRerenderCalendar @events}}
  {{did-update this.gotoFocusDate @focusDate}}
  {{did-insert this.setupCalendar}}
></div>