{{#if this.hasSelection}}
  {{#if this.selectedWorkLog}}
    <TimeLogPopover
      @anchorElement={{this.selectionAnchorElement}}
      @selectedWorkLog={{this.selectedWorkLog}}
      @workLogs={{this.workLogsForSelection}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
    />
  {{else}}
    <TimeLogPopover
      @anchorElement={{this.selectionAnchorElement}}
      @workLogs={{this.workLogsForSelection}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @isOverwrite={{and
        this.isMultiDaySelection
        this.workLogsForSelection
      }}
    />
  {{/if}}
{{/if}}
{{#if this.showNotesFor}}
  <WorkLogNotesPopover
    @anchorElement={{this.showNotesFor.el}}
    @onCancel={{this.cancelNotesPopover}}
    @onSaveNote={{this.saveNote}}
    @task={{this.showNotesFor.event.extendedProps.task}}
    @workLog={{this.showNotesFor.event.extendedProps.workLog}}
  />
{{/if}}
<div
  class="full-calendar h-full"
  {{did-update this.goToMonth @firstDayOfMonth}}
  {{did-update this.setCalendarHandlers @isDisabled @firstDayOfMonth}}
  {{did-update this.reloadCalendarEvents @workLogs}}
  {{did-insert this.setupCalendar}}
></div>