{{#if this.clickedDateInfo}}
  <TimeLogPopover
    @anchorElement={{this.clickedDateElement}}
    @onSaveSimple={{this.saveSimple}}
    @onSaveMulti={{this.saveMulti}}
    @onCancel={{this.onCancel}}
  />
{{/if}}
{{#if this.clickedEventInfo}}
  <TimeEditPopover
    @anchorElement={{this.clickedDateElement}}
    @selectedHourLog={{this.clickedWorkLog}}
    @onSave={{this.editWorkLog}}
    @onCancel={{this.onCancel}}
    @onDelete={{fn @onDeleteWorkLog this.clickedWorkLog}}
  />
{{/if}}
<div
  class="full-calendar h-full"
  {{did-update this.updateAndRerenderCalendar @events}}
  {{did-update this.gotoFocusDate @focusDate}}
  {{did-update this.updateDisabled @isDisabled}}
  {{did-insert this.setupCalendar}}
></div>