{{#if this.clickedDate}}
  <TimeLogPopover
    @anchorElement={{this.clickedDateElement}}
    @projects={{@projects}}
    @favoriteProjects={{@favoriteProjects}}
    @onSave={{this.onEventsAdded}}
    @onCancel={{this.clearSelectedRange}}
  />
{{/if}}
<div
  class="full-calendar h-full"
  {{did-update this.updateAndRerenderCalendar @events}}
  {{did-update this.gotoFocusDate @focusDate}}
  {{did-insert this.setupCalendar}}
></div>