{{#if this.clickedDateInfo}}
  <TimeLogPopover
    @anchorElement={{this.clickedDateElement}}
    @workLogs={{this.workLogsForClickedDate}}
    @onSave={{this.save}}
    @onCancel={{this.cancel}}
  />
{{/if}}
{{#if this.clickedEventInfo}}
  <TimeLogPopover
    @anchorElement={{this.clickedDateElement}}
    @selectedWorkLog={{this.clickedWorkLog}}
    @workLogs={{this.workLogsForClickedDate}}
    @onSave={{this.save}}
    @onCancel={{this.cancel}}
  />
{{/if}}
<div
  class="full-calendar h-full"
  {{did-update this.updateAndRerenderCalendar @events}}
  {{did-update this.gotoFocusDate @focusDate}}
  {{did-update this.updateDisabled @isDisabled}}
  {{did-insert this.setupCalendar}}
></div>