{{#if this.selectionInfo}}
  {{#if this.clickedEventInfo}}
    <TimeLogPopover
      @anchorElement={{this.clickedDateElement}}
      @selectedWorkLog={{this.clickedWorkLog}}
      @workLogs={{this.workLogsForSelection}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
    />
  {{else}}
    <TimeLogPopover
      @anchorElement={{this.clickedDateElement}}
      @workLogs={{this.workLogsForSelection}}
      @onSave={{this.save}}
      @onCancel={{this.cancel}}
      @isOverwrite={{and
        this.hasSelectedMultipleDates
        this.workLogsForSelection
      }}
    />
  {{/if}}
{{/if}}
{{#if this.showNotesFor}}
  <WorkLogNotesPopover
    @anchorElement={{this.showNotesFor.el}}
    @onCancel={{set this "showNotesFor" null}}
    @onSaveNote={{this.saveNote}}
    @task={{this.showNotesFor.event.extendedProps.task}}
    @workLog={{this.showNotesFor.event.extendedProps.workLog}}
  />
{{/if}}
<div
  class="full-calendar h-full"
  {{did-update this.updateAndRerenderCalendar @events}}
  {{did-update this.gotoFocusDate @focusDate}}
  {{did-update this.updateDisabled @isDisabled @focusDate}}
  {{did-insert this.setupCalendar}}
></div>