<div class="my-10 flex w-72 flex-col items-center overflow-auto px-2">
  <div class="flex items-center justify-between gap-4 px-6 py-4">
    <button
      type="button"
      {{on "click" (fn this.transitionToYear (sub @year 1))}}
    >
      {{svg-jar "chevron-left" class="size-5"}}
    </button>
    <div class="font-medium">{{@year}}</div>
    <button
      type="button"
      {{on "click" (fn this.transitionToYear (add @year 1))}}
    >
      {{svg-jar "chevron-right" class="size-5"}}
    </button>
  </div>
  {{#if @holidayCounters.length}}
    <form {{on "submit" (perform this.submit)}} class="flex flex-col space-y-4">
      {{#each this.holidayCounterEntries as |holidayCounterEntry|}}
        <div>
          {{#let (unique-id) as |id|}}
            <label
              for={{id}}
              class="mb-1 flex items-center gap-1 text-sm font-normal"
            >
              {{holidayCounterEntry.counter.quantityKind.label}}
            </label>
            <DurationInput
              class="w-full"
              id={{id}}
              @value={{holidayCounterEntry.value}}
              @onChange={{fn this.updateEntry holidayCounterEntry}}
              />
          {{/let}}
        </div>
      {{/each}}

      <div>
        <label
          for="consumed-holiday-counter"
          class="mb-1 flex items-center gap-1 text-sm font-normal"
        >
          Consumed holidays
        </label>
        <div class="text-sm">
          {{this.consumedHolidays.hours}}h{{this.consumedHolidays.minutes}}m
        </div>
      </div>

      <div>
        <label
          for="remaining-holiday-counter"
          class="mb-1 flex items-center gap-1 text-sm font-normal"
        >
          Remaining holidays
        </label>
        <div class="text-sm">
          {{this.remainingHolidays.hours}}h{{this.remainingHolidays.minutes}}m
        </div>
      </div>

      <div class="mt-4 flex justify-between">
        <Button @skin="mute" {{on "click" @onCancel}}>
          Cancel
        </Button>
        <Button
          type="submit"
          @skin="primary"
          @isLoading={{this.submit.isRunning}}
        >
          Save
        </Button>
      </div>
    </form>
  {{else}}
    <span class="text-sm italic text-gray-700">
      Cannot change holidays for this year
    </span>
  {{/if}}
</div>