<div class="p-6">
  <form
    class="mu-login space-y-6"
    {{on "submit" (perform this.changePassword)}}
  >
    <div>
      <div class="flex items-center justify-between">
        <label
          for="current-password"
          class="block text-sm/6 font-medium text-gray-900"
        >Current Password</label>
      </div>
      <div class="mt-2">
        <input
          id="current-password"
          name="current-password"
          type="password"
          autocomplete="current-password"
          required
          value={{this.oldPassword}}
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
          {{on "input" (with-value (fn (mut this.oldPassword)))}}
        />
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <label
          for="new-password"
          class="block text-sm/6 font-medium text-gray-900"
        >New password</label>
      </div>
      <div class="mt-2">
        <input
          id="new-password"
          name="new-password"
          type="password"
          autocomplete="new-password"
          required
          value={{this.newPassword}}
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
          {{on "input" (with-value (fn (mut this.newPassword)))}}
        />
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <label
          for="new-password-confirmation"
          class="block text-sm/6 font-medium text-gray-900"
        >Confirm New Password</label>
      </div>
      <div class="mt-2">
        <input
          id="new-password-confirmation"
          name="new-password-confirmation"
          type="password"
          autocomplete="new-password"
          required
          value={{this.newPasswordConfirmation}}
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
          {{on "input" (with-value (fn (mut this.newPasswordConfirmation)))}}
        />
      </div>
    </div>
    <div>
      <Button
        @isLoading={{this.changePassword.isRunning}}
        type="submit"
        class="w-full"
      >Change Password</Button>
    </div>
  </form>
  {{#if this.errorMessage}}
    <div class="mt-8" />
    <Alert
      @skin="error"
      @title="Something went wrong"
      @message={{this.errorMessage}}
    />
  {{else if this.successMessage}}
    <div class="mt-8" />
    <Alert @skin="success" @title={{this.successMessage}} />
  {{/if}}
</div>