<div class="feedback-message">
  {{#if this.errorMessage}}
    <AuAlert
      @title="Er is iets misgelopen"
      @skin="error"
      @icon="alert-triangle"
      @size="small"
    >
      <p>{{this.errorMessage}}</p>
    </AuAlert>
  {{/if}}
</div>

<form class="mu-login au-c-form" {{on "submit" this.login}}>
  <AuFormRow class="mu-login-name">
    <AuLabel for="mu-login-username">
      Gebruikersnaam
    </AuLabel>
    <AuInput
      id="mu-login-username"
      value={{this.nickname}}
      @width="block"
      {{on "input" (with-value (fn (mut this.nickname)))}}
    />
  </AuFormRow>
  <AuFormRow class="mu-login-password">
    <AuLabel for="mu-login-password">
      Wachtwoord
    </AuLabel>
    <AuInput
      id="mu-login-password"
      type="password"
      value={{this.password}}
      @width="block"
      {{on "input" (with-value (fn (mut this.password)))}}
    />
  </AuFormRow>
  <AuButton type="submit" @loading={{this.isAuthenticating}}>
    Aanmelden
  </AuButton>
</form>