<div class="h-full bg-gray-800 text-white flex flex-col">
  <div
    class="px-6 py-4 border-b border-gray-700 flex items-center justify-between"
  >
    <LinkTo @route="year.month" @models={{array (sub @year 1) @month}}>
      {{svg-jar "chevron-left" class="h-5 w-5"}}
    </LinkTo>
    <div class="font-medium text-white">{{@year}}</div>
    <LinkTo @route="year.month" @models={{array (add @year 1) @month}}>
      {{svg-jar "chevron-right" class="h-5 w-5"}}
    </LinkTo>
  </div>

  <div class="flex-grow px-6 py-4">
    <ul class="space-y-4">
      {{#each this.months as |month|}}
        <li class="flex items-center justify-between space-x-12">
          <LinkTo
            @route="year.month"
            @models={{array @year month.humanNumber}}
            class="text-sm tracking-wide"
          >
            {{month.label}}
          </LinkTo>
          <span>
            {{#if
              (eq
                month.status
                "http://timekeeper.redpencil.io/concepts/01ddb33a-a15b-49d6-8422-bc78123db966"
              )
            }}
              {{svg-jar "check-lg" class="h-5 w-5 text-blue-500"}}
            {{else if
              (eq
                month.status
                "http://timekeeper.redpencil.io/concepts/8ba56847-1713-478c-aa63-6eace21b3adf"
              )
            }}
              {{svg-jar "check-lg" class="h-5 w-5 text-green-500"}}
            {{else if
              (eq
                month.status
                "http://timekeeper.redpencil.io/concepts/9d50b644-3d61-4a9d-b3a9-0b27f4f1d566"
              )
            }}
              {{svg-jar "lock-fill" class="h-4 w-4 text-gray-400"}}
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="mb-4 mx-4">
    <MuLogout />
  </div>
</div>