<div class="h-full bg-gray-800 text-white flex flex-col">
  <div
    class="px-6 py-4 border-b border-gray-700 flex items-center justify-between"
  >
    <LinkTo @route="year.month" @models={{array (sub @year 1) 12}}>
      {{svg-jar "chevron-left" class="h-5 w-5"}}
    </LinkTo>
    <div class="font-medium text-white">{{@year}}</div>
    <LinkTo @route="year.month" @models={{array (add @year 1) 1}}>
      {{svg-jar "chevron-right" class="h-5 w-5"}}
    </LinkTo>
  </div>

  <div class="flex-grow px-6 py-4">
    <ul class="space-y-4">
      {{#each this.months as |month|}}
        <li class="flex items-center justify-between space-x-12">
          <LinkTo
            @route="year.month"
            @models={{array @year month.humanNumber}}
            class="text-sm tracking-wide"
          >
            {{month.label}}
          </LinkTo>
          <span>
            <TimesheetStatusIcon @timesheet={{month.timesheet}} />
          </span>
        </li>
      {{/each}}
    </ul>
  </div>

  <div
    class="px-4 py-4 flex items-center justify-between border-gray-700 border-t"
  >
    <span class="text-sm text-gray-300 font-normal">
      <LinkTo @route="profile">
        {{this.userProfile.user.name}}
      </LinkTo>
    </span>
    <MuLogout />
  </div>
</div>