<input
  type="radio"
  id={{@project}}
  name="hosting"
  value={{@project}}
  class="hidden peer"
  checked={{@checked}}
  {{on "click" @onSelectedChange}}
/>
<label
  for={{@project}}
  class="inline-flex text-sm items-center justify-between w-full px-4 py-2 text-gray-500 bg-white border border-gray-200 rounded-full cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
>
  <div class="flex items-center">
    <span
      class={{concat "inline-block w-3 h-3 rounded-full mr-3 " this.color}}
    ></span>
    <span class="text-gray-700">{{@project}}</span>
  </div>
</label>