<PowerSelect
  class="h-full border-none rounded focus:ring-blue-500 focus:border-indigo-500"
  @searchEnabled={{true}}
  @options={{this.projects}}
  @selected={{this.selectedProject}}
  @searchField="name"
  @onChange={{this.onChange}}
  {{!-- @onFocus={{this.onFocus}} --}}
  {{!-- @onClose={{@onClose}} --}}
  {{!-- @onBlur={{this.onBlur}} --}}
  @onKeydown={{this.onKeydown}}
  @placeholder="Type '/' to search"
  @registerAPI={{@registerAPI}}
  ...attributes
  as |project|
>
  <div class="flex items-center text-sm h-8">
    <span
      class={{concat "inline-block w-3 h-3 rounded-full mr-3 " project.color}}
    ></span>
    <span class="text-gray-700">{{project.name}}</span>
  </div>
</PowerSelect>