<div class="bg-gray-50 p-8 overflow-scroll h-full">
  <h1 class="text-2xl font-semibold text-gray-900 mb-6">Overview</h1>

  <ul class="space-y-6">
    {{#each-in this.projectData as |project data|}}
      <li>
        <div class="flex items-center">
          <span
            class={{concat
              "inline-block w-3 h-3 rounded-full mr-3 "
              data.color
            }}
          ></span>
          <span class="text-lg text-gray-700">{{project}}</span>
          <span class="ml-auto text-gray-600">{{data.totalHours}} hours</span>
        </div>

        {{#if data.subprojects}}
          <ul class="ml-6 mt-2 space-y-2">
            {{#each-in data.subprojects as |subproject subdata|}}
              <li class="flex items-center">
                <span class="mr-3 text-gray-500">•</span>
                <span class="text-sm text-gray-600">{{subproject}}</span>
                <span class="ml-auto text-gray-500">{{subdata.totalHours}}
                  hours</span>
              </li>
            {{/each-in}}
          </ul>
        {{/if}}
      </li>
    {{/each-in}}
  </ul>
  <div class="h-0 mt-8 border-t-2 border-dashed"></div>
  <div class="flex flex-center mt-4">
    <span class="text-lg text-gray-700">Total</span>
    <span class="ml-auto text-gray-600">{{this.totalHours}} hours</span>
  </div>
  <div class="mt-10">
    <label class="flex items-center space-x-4">
      <input
        type="checkbox"
        class="w-6 h-6 text-green-600 border-gray-300 rounded focus:ring-green-500"
      />
      <span class="text-lg text-gray-700 font-medium">Mark completed</span>
    </label>
  </div>
</div>