<div class="py-2 px-8 overflow-auto grow">
  <div>
    {{#if @workLogs}}
      <ul class="space-y-6">
        {{#each-in this.projectData as |projectId data|}}
          <li>
            <div class="flex items-center justify-between space-x-4">
              <div class="flex items-center space-x-2">
                <span
                  class="inline-block w-2 h-2 rounded-full"
                  {{bg-color data.color}}
                ></span>
                <span class="text-sm font-normal">
                  {{this.getProjectNameById projectId}}
                </span>
              </div>
              <div class="text-sm font-normal">{{data.totalDuration.hours}}h
                {{data.totalDuration.minutes}}m</div>
            </div>

            {{#if data.subProjects}}
              {{#unless (this.shouldHide data.subProjects)}}
                <ul class="ml-4 mt-2 space-y-2">
                  {{#each-in data.subProjects as |subprojectId subdata|}}
                    <li class="flex items-center justify-between space-x-2">
                      <span class="text-sm">
                        {{this.getSubProjectNameById subprojectId}}
                      </span>
                      <span class="text-sm">
                        {{subdata.totalDuration.hours}}h
                        {{subdata.totalDuration.minutes}}m
                      </span>
                    </li>
                  {{/each-in}}
                </ul>
              {{/unless}}
            {{/if}}
          </li>
        {{/each-in}}
      </ul>
    {{else}}
      <p class="text-gray-500 text-sm italic">No work was logged yet this month.</p>
    {{/if}}
  </div>
</div>
<div class="pt-2 pb-8 px-8">
  <div class="h-0 mt-2 border-red-800 border-t-2 border-dashed"></div>
  <div class="text-red-800 mt-4 flex items-center justify-between">
    <span class="text-sm font-normal uppercase tracking-wide">Total</span>
    <span class="text-sm font-normal">{{this.totalDuration.hours}}h
      {{this.totalDuration.minutes}}m</span>
  </div>
</div>