<div class="bg-gray-50 p-8 overflow-scroll h-full">
  <h1 class="text-xl font-semibold mb-6">Summary</h1>
  {{#if @workLogs}}
    <ul class="space-y-6">
      {{#each-in this.projectData as |projectId data|}}
        <li>
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-2">
              <span class="inline-block w-2 h-2 rounded-full" {{bg-color data.color}}></span>
              <span class="text-sm font-normal">
                {{this.getProjectNameById projectId}}
              </span>
            </div>
            <div class="text-sm font-normal">{{data.totalHours}} hours</div>
          </div>

          {{#if data.subProjects}}
            <ul class="ml-8 mt-2 space-y-2">
              {{#each-in data.subProjects as |subprojectId subdata|}}
                <li class="flex items-center justify-between space-x-2">
                  <span class="text-sm text-gray-700">
                    {{this.getSubProjectNameById subprojectId}}
                  </span>
                  <span class="text-sm text-gray-700">
                    {{subdata.totalHours}} hours
                  </span>
                </li>
              {{/each-in}}
            </ul>
          {{/if}}
        </li>
      {{/each-in}}
    </ul>
    <div class="h-0 mt-6 border-gray-300 border-t-2 border-dashed"></div>
  {{/if}}
  <div class="mt-4 flex items-center justify-between">
    <span class="text-sm font-normal uppercase tracking-wide">Total</span>
    <span class="text-sm font-normal">{{this.totalHours}} hours</span>
  </div>
</div>
