<PowerSelect
  class="h-full border-none rounded focus:ring-red-500 focus:border-red-500"
  @searchEnabled={{true}}
  @options={{this.options}}
  @selected={{@selectedTask}}
  @matcher={{this.matcher}}
  @onChange={{@onChange}}
  @dropdownClass={{concat "shadow" " " @dropdownClass}}
  {{!-- @matchTriggerWidth={{false}} --}}
  @horizontalPosition="center"
  {{!-- @onFocus={{this.onFocus}} --}}
  {{!-- @onClose={{@onClose}} --}}
  {{!-- @onBlur={{this.onBlur}} --}}
  @onKeydown={{this.onKeydown}}
  @placeholder="Type '/' to search"
  @searchPlaceholder="Type a project name"
  @registerAPI={{@registerAPI}}
  ...attributes
  as |task|
>
  <div class="flex items-center text-sm h-6">
    <span
      class="inline-block w-2 h-2 rounded-full mr-3"
      {{bg-color (task-color task)}}
    ></span>
    <span class="text-gray-700 font-light">{{task-name task}}</span>
  </div>
</PowerSelect>