<PowerSelect
  class="h-full border-none rounded focus:ring-blue-500 focus:border-indigo-500"
  @searchEnabled={{true}}
  @options={{this.options}}
  @selected={{@selectedProject}}
  @searchField="name"
  @onChange={{@onChange}}
  {{!-- @onFocus={{this.onFocus}} --}}
  {{!-- @onClose={{@onClose}} --}}
  {{!-- @onBlur={{this.onBlur}} --}}
  @onKeydown={{this.onKeydown}}
  @placeholder="Type '/' to search"
  @registerAPI={{@registerAPI}}
  ...attributes
  as |task|
>
  <div class="flex items-center text-sm h-8">
    <span
      class="inline-block w-3 h-3 rounded-full mr-3"
      {{bg-color (or task.color task.parent.color)}}
    ></span>
    <span class="text-gray-700">{{task-name task}}</span>
  </div>
</PowerSelect>