<div
  class="absolute z-10 mt-2 w-64 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
  role="menu"
  aria-orientation="vertical"
  aria-labelledby="menu-button"
  tabindex="-1"
  {{did-insert this.focusHoursInput}}
>
  <div class="py-1" role="none">
    <form {{on "submit" this.submitLog}}>
      <div class="px-4 py-2">
        <label
          for="hours"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Hours Worked</label>
        <input
          type="number"
          id="hours"
          min="0"
          class="h-10 mt-1 block w-full border-gray-700 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          value={{this.hours}}
          {{create-ref "hoursInput"}}
          {{on "input" this.updateHours}}
        />
      </div>

      <div class="px-4 py-2">
        <label
          for="project"
          class="block text-sm font-medium text-gray-700"
        >Project</label>
        <textarea
          id="project"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          rows="3"
          value={{this.project}}
          {{on "input" this.updateDescription}}
        ></textarea>
      </div>

      <div class="flex justify-between px-4 py-2">
        <button
          type="button"
          class="mr-2 inline-flex justify-center px-4 py-2 text-gray-500 font-medium"
          {{on "click" this.closePopover}}
        >
          Cancel
        </button>
        <button
          type="submit"
          class="inline-flex justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>