<Popover @anchorElement={{@anchorElement}}>
  <div class="mx-4 mb-3 mt-4">
    <TimeLogPopover::Simple
      @selectedHourLog={{@selectedHourLog}}
      @onSave={{@onSave}}
      @onCancel={{@onCancel}}
      @onDelete={{@onDelete}}
      @allowDelete={{true}}
    />
  </div>
</Popover>