{{#if (or this.canSubmitHolidays this.canSubmitTimesheet)}}
  <div class="px-4 w-full" ...attributes>
    {{#if this.canSubmitHolidays}}
      <Button class="mb-4 drop-shadow w-full"
        @loading={{this.submitHolidays.isRunning}}
        {{on "click" (perform this.submitHolidays)}}>
        Submit absence
      </Button>
    {{/if}}
    {{#if this.canSubmitTimesheet}}
      <Button class="mb-4 drop-shadow w-full flex items-center"
        @loading={{this.submitTimesheet.isRunning}}
        {{on "click" (perform this.submitTimesheet)}}>
        Submit timesheet
        <span class="pl-2">{{svg-jar "check2-square"}}</span>
      </Button>
    {{/if}}
  </div>
{{/if}}
