<Popover
  {{on "keydown" this.handleKeydown}}
  class="work-log-popover"
  @anchorElement={{@anchorElement}}
>
  <div class="mx-4 mb-3">
    <div role="none">
      <form {{on "submit" this.submitWorkLogs}}>
        <ul class="divide-y divide-dotted">
          {{#each this.favoriteTaskWorkLogs as |workLogEntry index|}}
            {{#let workLogEntry.task as |task|}}
              <li>
                <div class="mt-2 mb-2">
                  <div class="mt-1 flex justify-between">
                    <div class="flex items-center space-x-2">
                      <div {{fill-color (or task.color task.parent.color)}}>
                        {{svg-jar "clock" class="fill-inherit"}}
                      </div>
                      <div class="text-sm">{{task-name task}}</div>
                    </div>
                    {{#let (unique-id) as |inputId|}}
                      <DurationInput
                        id={{inputId}}
                        @value={{workLogEntry.duration}}
                        @onChange={{fn this.updateDuration workLogEntry}}
                        {{focus-select
                          (or
                            (eq @selectedWorkLog.task.id task.id) (eq index 0)
                          )
                        }}
                      />
                    {{/let}}
                  </div>
                </div>
              </li>
            {{/let}}
          {{/each}}
          {{#each this.addedWorkLogs as |workLogEntry index|}}
            <li>
              <div class="mt-2 mb-2">
                <div class="mt-1 flex justify-between content-center">
                  <div class="block h-10 flex-grow mr-2">
                    <TaskPowerSelect
                      {{! class needed for fullcalendar unselectCancel }}
                      @dropdownClass="work-log-popover"
                      @excludeTasks={{this.excludeTasks}}
                      @selectedTask={{workLogEntry.task}}
                      @onChange={{fn this.updateTask workLogEntry}}
                    />
                  </div>
                  <DurationInput
                    id={{workLogEntry.elementId}}
                    @value={{workLogEntry.duration}}
                    @onChange={{fn this.updateDuration workLogEntry}}
                    {{focus-select
                      (or
                        (eq @selectedWorkLog.task.id workLogEntry.task.id)
                        (eq index this.focusHoursInput)
                      )
                    }}
                    {{clear-value this "focusHoursInput"}}
                  />
                </div>
              </div>
            </li>
          {{/each}}
          <li>
            <div class="mt-2 mb-2">
              <div class="mt-1 flex justify-between content-center">
                <div class="block h-10 flex-grow mr-2">
                  <TaskPowerSelect
                    {{! class needed for fullcalendar unselectCancel }}
                    @dropdownClass="work-log-popover"
                    @excludeTasks={{this.excludeTasks}}
                    @registerAPI={{this.registerNewProjectPowerSelect}}
                    @onChange={{this.addTaskToList}}
                  />
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="flex justify-between mt-4">
          <Button @skin="mute" {{on "click" this.closePopover}}>
            Cancel
          </Button>
          <Button type="submit" @isLoading={{@onSave.isRunning}}>
            {{if @isOverwrite "Overwrite" "Save"}}
          </Button>
        </div>
      </form>
    </div>
  </div>
</Popover>