<div class="mt-6 px-4 w-full">
  <h3
    class="mb-4 text-lg font-semibold text-red-700 flex items-center gap-2"
  >{{svg-jar "calendar-check"}} Mark as complete</h3>
  {{#if @timesheet.isExported}}
    <Alert
      @skin="info"
      @message="This timesheet is exported and processed. It cannot be changed anymore"
    />
  {{else}}
    <ul
      class="items-center w-full text-sm font-medium text-gray-900 shadow-sm white border border-gray-200 rounded-lg sm:flex"
    >
      <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
        <div class="flex items-center ps-3">
          {{#let (unique-id) as |checkboxId|}}
            <Checkbox
              id={{checkboxId}}
              value="holidays"
              @checked={{this.absenceComplete}}
              @onChange={{this.clickAbsence}}
            />
            <label
              for={{checkboxId}}
              class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
            >Absence</label>
          {{/let}}
        </div>
      </li>
      <li class="w-full border-b border-gray-200 sm:border-b-0">
        <div class="flex items-center ps-3">
          {{#let (unique-id) as |checkboxId|}}
            <Checkbox
              id={{checkboxId}}
              value="work-hours"
              @checked={{this.timesheetComplete}}
              @onChange={{this.clickTimesheet}}
            />
            <label
              for={{checkboxId}}
              class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
            >Timesheet</label>
          {{/let}}
        </div>
      </li>
    </ul>
  {{/if}}
</div>