<Popover 
  @anchorElement={{@anchorElement}}
  @middleware={{this.floatingUIMiddleware}}
  class="animate-fly-right w-96 shadow-xl"
  >
  <div class="mx-4 mb-3 mt-4">
    <form {{on "submit" this.saveNote}}>
      {{#let (unique-id) as |id|}}
        <div class="flex items-center justify-between">
          <label
            for={{id}}
            class="mb-4 mt-3 flex items-center gap-1 text-sm font-normal"
          >Notes</label>
          {{#if @workLog.note.length}}
            <button
              {{on "click" this.deleteNote}}
              type="button"
              class="rounded p-2 text-gray-600 hover:bg-gray-100 hover:text-red-500"
            >
              {{svg-jar "trash3" class="size-4"}}</button>
          {{/if}}
        </div>
        <textarea
          id={{id}}
          rows="4"
          class="resize-vertical block h-44 w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-0"
          placeholder="Write your notes here…"
          value={{this.noteContent}}
          {{on "input" (with-value (fn (set this "noteContent")))}}
          {{focus}}
        ></textarea>
      {{/let}}

      <div class="mt-4 flex justify-between">
        <Button @skin="mute" {{on "click" @onCancel}}>
          Cancel
        </Button>
        <Button type="submit" @skin="primary" @isDisabled={{this.saveDisabled}}>
          Save
        </Button>
      </div>
    </form>
  </div>
</Popover>