{{! template-lint-disable no-invalid-interactive }}
<div role="none" {{on "keydown" this.handleKeydown}}>
  <form {{on "submit" this.submitWorkLogs}}>
    <ul class="divide-y divide-dotted">
      {{#each this.favoriteTaskWorkLogs as |workLog index|}}
        {{#let workLog.task as |task|}}
          <li>
            <div class="mt-2 mb-2">
              <div class="mt-1 flex justify-between">
                <div class="flex items-center space-x-2">
                  <div {{fill-color (or task.color task.parent.color)}}>
                    {{svg-jar "star-fill" class="w-3 h-3 fill-inherit"}}
                  </div>
                  <div class="text-sm">{{task-name task}}</div>
                </div>
                {{#let (unique-id) as |inputId|}}
                  <HourInput
                    id={{inputId}}
                    @value={{workLog.hours}}
                    @onChange={{fn this.updateHours workLog}}
                    {{focus-select (eq index 0)}}
                  />
                {{/let}}
              </div>
            </div>
          </li>
        {{/let}}
      {{/each}}
      {{#each this.addedWorkLogs as |workLog index|}}
        <li>
          <div class="mt-2 mb-2">
            <div class="mt-1 flex justify-between content-center">
              <div class="block h-10 flex-grow mr-2">
                <TaskPowerSelect
                  @selectedTask={{workLog.task}}
                  @onChange={{fn this.updateTask workLog}}
                />
              </div>
              <HourInput
                id={{workLog.elementId}}
                @value={{workLog.hours}}
                @onChange={{fn this.updateHours workLog}}
                {{focus-select (eq index this.focusHoursInput)}}
                {{clear-value this "focusHoursInput"}}
              />
            </div>
          </div>
        </li>
      {{/each}}
      <li>
        <div class="mt-2 mb-2">
          <div class="mt-1 flex justify-between content-center">
            <div class="block h-10 flex-grow mr-2">
              <TaskPowerSelect
                @registerAPI={{this.registerNewProjectPowerSelect}}
                @onChange={{this.addTaskToList}}
              />
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="flex justify-between mt-4">
      <Button @skin="cancel" {{on "click" this.closePopover}}>
        Cancel
      </Button>
      <Button type="submit" @isLoading={{@onSave.isRunning}}>
        Save
      </Button>
    </div>
  </form>
</div>