<div role="none">
  {{#if @allowDelete}}
    <div class="flex justify-end">
      <button
        type="button"
        {{on "click" @onDelete}}
        class="text-red-500 hover:text-red-600"
      >
        {{svg-jar "trash3" class="h-5 w-5"}}
      </button>
    </div>
  {{/if}}
  <form {{on "submit" this.submitWorkLog}}>
    <div>
      <label
        for="hours"
        class="block text-sm font-semibold leading-6 text-gray-700"
      >Hours Worked</label>
      <HourInput
        id="hours"
        @value={{this.duration}}
        @onChange={{this.updateDuration}}
        {{focus-select true}}
      />
    </div>

    <div class="mt-2">
      <label
        for="task"
        class="block text-sm font-semibold text-gray-700"
      >Task</label>
      <div class="mt-1">
        <FavouriteTasksRadioGroup
          @onChange={{set this "task"}}
          @selectedTask={{this.task}}
        />
      </div>
    </div>
    <div class="block h-10 mt-2">
      <TaskPowerSelect
        @onChange={{set this "task"}}
        @selectedTask={{this.task}}
      />
    </div>
    <div class="flex justify-between mt-4">
      <Button @skin="mute" {{on "click" this.closePopover}}>Cancel</Button>
      <Button type="submit" @isLoading={{@onSave.isRunning}}>Save</Button>
    </div>
  </form>
</div>