<div role="none">
  {{#if @allowDelete}}
    <div class="flex justify-end">
      <button type="button" {{on "click" @onDelete}}>
        <TrashIcon class="size-5 stroke-red-500" />
      </button>
    </div>
  {{/if}}
  <form {{on "submit" this.submitLog}}>
    <div>
      <label
        for="hours"
        class="block text-sm font-semibold leading-6 text-gray-700"
      >Hours Worked</label>
      <input
        type="number"
        id="hours"
        min={{0}}
        class="h-10 mt-1 block w-full border-gray-200 rounded shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        value={{this.hours}}
        {{on "input" this.updateHours}}
        {{focus-select true}}
        {{select-on "click"}}
      />
    </div>

    <div class="mt-2">
      <label
        for="project"
        class="block text-sm font-semibold text-gray-700"
      >Project</label>
      <div class="mt-1">
        <ProjectPillRadioGroup
          @onChange={{set this "project"}}
          @projects={{@favoriteProjects}}
          @selectedProject={{this.project}}
        />
      </div>
    </div>
    <div class="block h-10 mt-2">
      <ProjectsPowerselect
        @onChange={{set this "project"}}
        @subProjects={{@projects}}
        @selectedProject={{this.project}}
      />
    </div>
    <div class="flex justify-between mt-4">
      <Button @skin="cancel" {{on "click" this.closePopover}}>Cancel</Button>
      <Button type="submit" @isLoading={{@onSave.isRunning}}>Save</Button>
    </div>
  </form>
</div>