<div class="flex flex-col w-44 justify-center bg-zinc-700 text-white">
  <div class="flex items-center justify-between px-6 py-4">
    <LinkTo @route="admin.timesheets.year.month" @models={{array (sub @model.year 1) 1}}>
      {{svg-jar "chevron-left" class="h-5 w-5"}}
    </LinkTo>
    <div class="font-medium text-white">{{@model.year}}</div>
    <LinkTo @route="admin.timesheets.year.month" @models={{array (add @model.year 1) 1}}>
      {{svg-jar "chevron-right" class="h-5 w-5"}}
    </LinkTo>
  </div>
  <ul class="mx-2 flex flex-col justify-center space-y-4">
    {{#each this.months as |month|}}
      <li class="flex items-center justify-between space-x-12">
        <LinkTo
          @route="admin.timesheets.year.month"
          @models={{array @model.year month.humanNumber}}
          class="grow text-sm tracking-wide"
        >
          {{month.label}}
        </LinkTo>
        <span>
          <TimesheetStatusIcon @timesheet={{month.timesheet}} />
        </span>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}