<table
  class="table-auto w-full border-collapse border border-gray-300 bg-white shadow-md"
>
  <thead>
    <tr
      class="z-10 sticky top-0 bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
    >
      <th class="sticky left-0 bg-gray-200 py-3 px-6 text-left"></th>
      {{#each @people as |person|}}
        <th class="py-3 px-6 text-left">{{person.name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody class="text-gray-600 text-sm font-light">
    {{#each this.groupedTasks as |taskPair|}}
      {{#let (object-at 0 taskPair) as |parentId|}}
        {{#let (object-at 1 taskPair) as |tasks|}}
          <tr class="border-b border-gray-300">
            <td
              class="sticky left-0 py-3 px-6 font-medium bg-white"
            >{{this.getTaskNameById parentId}}</td>
            {{#each @people}}
              <td class="py-3 px-6 bg-white"></td>
            {{/each}}
          </tr>
          {{#each tasks as |task|}}
            <tr class="border-b border-gray-300">
              <td
                class="sticky left-0 bg-white py-3 px-6 pl-8 text-gray-500"
              >{{task.name}}</td>
              {{#each @people as |person|}}
                <td class="py-3 px-6">
                  {{#let (this.hoursWorked task person) as |totalForTask|}}
                    {{#if
                      (or (gt totalForTask.hours 0) (gt totalForTask.minutes 0))
                    }}
                      {{totalForTask.hours}}h
                      {{totalForTask.minutes}}m
                    {{/if}}
                  {{/let}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        {{/let}}
      {{/let}}
    {{/each}}
    {{#each this.singletonTasks as |task|}}
      <tr class="border-b border-gray-300">
        <td class="sticky left-0 bg-white py-3 px-6 font-medium">{{task-name
            task
          }}</td>
        {{#each @people as |person|}}
          <td class="py-3 px-6">
            {{#let (this.hoursWorked task person) as |totalForTask|}}
              {{#if (or (gt totalForTask.hours 0) (gt totalForTask.minutes 0))}}
                {{totalForTask.hours}}h
                {{totalForTask.minutes}}m
              {{/if}}
            {{/let}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>