<table
  class="w-full table-auto border-collapse border border-gray-300 bg-white shadow-md"
>
  <thead>
    <tr
      class="sticky top-0 z-10 bg-gray-200 text-sm uppercase leading-normal text-gray-600"
    >
      <th class="sticky left-0 bg-gray-200 px-3 py-2 text-left"></th>
      {{#each @people as |person|}}
        <th class="px-3 py-2 text-left">{{person.name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody class="text-xs font-light text-gray-600">
    {{#each this.groupedTasks as |taskPair|}}
      {{#let (object-at 0 taskPair) as |parentId|}}
        {{#let (object-at 1 taskPair) as |tasks|}}
          <tr class="border-b border-gray-300">
            {{#let (this.getTaskById parentId) as |parentTask|}}
              <td
                class="sticky left-0 flex items-center px-3 py-2 font-medium"
              ><div
                  class="mr-2 size-2 rounded-full"
                  {{bg-color parentTask.color}}
                />{{parentTask.name}}</td>
            {{/let}}
            {{#each @people}}
              <td class="px-3 py-2"></td>
            {{/each}}
          </tr>
          {{#each tasks as |task index|}}
            <tr class="border-b border-gray-300">
              <td
                class="sticky left-0 px-3 py-2 pl-5 text-gray-500
                  {{cycle 'bg-white' 'bg-gray-100' index}}"
              >{{task.name}}</td>
              {{#each @people as |person|}}
                <Admin::OverviewTable::WorkLogTotalCell
                  class="{{cycle 'bg-white' 'bg-gray-100' index}}"
                  @totalForTask={{this.hoursWorked task person}}
                />
              {{/each}}
            </tr>
          {{/each}}
        {{/let}}
      {{/let}}
    {{/each}}
    {{#each this.singletonTasks as |task index|}}
      <tr class="border-b border-gray-300">
        <td
          class="sticky left-0 flex items-center px-3 py-2 font-medium
            {{cycle 'bg-white' 'bg-gray-100' index}}"
        ><div
            class="mr-2 size-2 rounded-full"
            {{bg-color task.color}}
          />{{task-name task}}</td>
        {{#each @people as |person|}}
          <Admin::OverviewTable::WorkLogTotalCell
            class="{{cycle 'bg-white' 'bg-gray-100' index}}"
            @totalForTask={{this.hoursWorked task person}}
          />
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>