<div class="p-4 grow">
  <FullCalendar
    @events={{this.events}}
    @onEventsAdded={{this.addEvent}}
    @focusDate={{this.activeDate}}
    @projects={{@model.subProjects}}
    @favoriteProjects={{this.favoriteProjects}}
  />
</div>
<div class="min-w-96">
  <Stats @workLogs={{@model.workLogs}} />
</div>
{{outlet}}