<div class="p-4 grow">
  <FullCalendar
    @isDisabled={{@model.timesheet.isSubmitted}}
    @onDeleteWorkLog={{this.deleteWorkLog}}
    @onSaveMulti={{this.onSaveMulti}}
    @onSaveSimple={{this.onSaveSimple}}
    @events={{this.events}}
    @focusDate={{this.activeDate}}
  />
</div>
<div class="h-full box-border py-4">
  <div class="flex flex-col bg-gray-100 h-full rounded-lg mr-2 shadow">
    <div class="px-4 my-4 w-full">
      {{#if @model.timesheet.isDraft}}
        <Button
          class="drop-shadow w-full"
          @loading={{this.markHolidaysComplete.isRunning}}
          {{on "click" (perform this.markHolidaysComplete)}}
        >Holidays Complete</Button>
      {{/if}}
      {{#if @model.timesheet.isAbsenceSubmitted}}
        <Button
          class="drop-shadow w-full flex items-center"
          @loading={{this.markTimesheetComplete.isRunning}}
          {{on "click" (perform this.markTimesheetComplete)}}
        >Timesheet Complete
          <span class="pl-2">{{svg-jar "check2-square"}}</span></Button>
      {{/if}}
    </div>
    <Stats @workLogs={{@model.workLogs}} />
  </div>
</div>