<div class="p-4 grow">
  {{!-- <FullCalendar
    @onEventsAdded={{this.addEvent}}
    @events={{this.mockData.events}}
    @focusDate={{this.activeDate}}
    @projects={{this.projects}}
    @favoriteProjects={{this.favoriteProjects}}
  /> --}}
</div>
<div class="min-w-96">
  <Stats @timeLogs={{this.mockData.timeLogs}} />
</div>
{{outlet}}