{{!-- <div class="p-4 grow">
  <FullCalendar
    @events={{this.events}}
    @onEventsAdded={{this.addEvent}}
    @focusDate={{this.activeDate}}
    @projects={{this.projects}}
    @favoriteProjects={{this.favoriteProjects}}
  />
</div> --}}
<div class="min-w-96">
  {{#if this.mockData.loadTimeLogs.isRunning}}
    <p>loading</p>
  {{else}}
    <Stats @timeLogs={{this.mockData.timeLogs}} />
  {{/if}}
</div>
{{outlet}}