<div class="flex h-full flex-col">
  <div class="shrink-0">
    <NavBar
      @month={{@model.month}}
      @year={{@model.year}}
      @holidayCounters={{@model.holidayCounters}}
    />
  </div>
  <div class="flex grow relative">
    <div class="grow p-4">
      <FullCalendar
        @isDisabled={{this.timesheet.isExported}}
        @onDeleteWorkLog={{this.deleteWorkLog}}
        @onUndoDeleteWorkLog={{this.undoDeleteWorkLog}}
        @onSave={{perform this.save}}
        @workLogs={{@model.workLogs}}
        @firstDayOfMonth={{this.firstDayOfMonth}}
      />
    </div>
    <button
      type="button"
      class="absolute right-0 top-4 z-10 rounded-l-full border bg-white p-2 shadow xl:collapse"
      {{on "click" (set this "showSummary" true)}}
    >
      {{svg-jar "list" class="size-7"}}
    </button>
    <div
      class="absolute right-0 z-10 border-l bg-white shadow-lg transition-transform duration-150 ease-in-out xl:static xl:z-0 xl:border-none xl:shadow-none xl:transition-none h-full
        {{if this.showSummary 'translate-0' 'translate-x-full'}}
        w-96 rounded-l-lg xl:translate-x-0"
    >
      <button
        type="button"
        class="absolute right-3 top-5 rounded-full p-2 hover:bg-gray-100 xl:collapse"
        {{on "click" (set this "showSummary" false)}}
      >
        {{svg-jar "x-lg" class="size-4 fill-gray-600"}}
      </button>
      <div
        class="bg-white-100 mr-2 flex h-full flex-col border-solid border-red-600"
      >
        {{#if this.timesheet}}
          <TimesheetActions
            @timesheet={{this.timesheet}}
            @onStatusChanged={{this.changeTimesheetStatus}}
            class="-mb-6 mt-6"
          />
        {{/if}}
        <h1
          class="mb-3 mt-6 px-4 text-xl font-semibold text-red-700"
        >Summary</h1>
        <Stats @workLogs={{@model.workLogs}} />
      </div>
    </div>
  </div>
</div>