<div class="flex h-full flex-col">
  <NavBar
    @month={{@model.month}}
    @year={{@model.year}}
    @timesheets={{this.timesheets}}
  />
  <div class="flex grow">
    <div class="grow p-4">
      <FullCalendar
        @isDisabled={{this.timesheet.isExported}}
        @onDeleteWorkLog={{this.deleteWorkLog}}
        @onUndoDeleteWorkLog={{this.undoDeleteWorkLog}}
        @onSave={{perform this.save}}
        @workLogs={{@model.workLogs}}
        @firstDayOfMonth={{this.firstDayOfMonth}}
      />
    </div>
    <div class="h-full w-96">
      <div
        class="bg-white-100 mr-2 flex h-full flex-col border-solid border-red-600"
      >
        <TimesheetActions
          @timesheet={{this.timesheet}}
          @onStatusChanged={{this.changeTimesheetStatus}}
          class="-mb-6 mt-6"
        />
        <h1
          class="mb-3 mt-6 px-4 text-xl font-semibold text-red-700"
        >Summary</h1>
        <Stats @workLogs={{@model.workLogs}} />
      </div>
    </div>
  </div>
</div>