<div class="p-4 grow">
  <FullCalendar
    @isDisabled={{this.timesheet.isExported}}
    @onDeleteWorkLog={{this.deleteWorkLog}}
    @onUndoDeleteWorkLog={{this.undoDeleteWorkLog}}
    @onSave={{perform this.save}}
    @workLogs={{@model.workLogs}}
    @firstDayOfMonth={{this.firstDayOfMonth}}
  />
</div>
<div class="h-full w-96">
  <div class="flex flex-col border-solid border-red-600 bg-white-100 h-full mr-2">
    <TimesheetActions
      @timesheet={{this.timesheet}}
      @onStatusChanged={{this.changeTimesheetStatus}}
      class="mt-6 -mb-6"
      />
    <h1 class="px-4 mt-6 text-xl text-red-700 font-semibold mb-3">Summary</h1>
    <Stats @workLogs={{@model.workLogs}} />
  </div>
</div>