<div class="p-4 grow">
  <FullCalendar
    @isDisabled={{this.timesheet.isSubmitted}}
    @onDeleteWorkLog={{this.deleteWorkLog}}
    @onSave={{this.save}}
    @events={{this.events}}
    @focusDate={{this.activeDate}}
  />
</div>
<div class="h-full box-border py-4 min-w-96">
  <div class="flex flex-col bg-gray-100 h-full rounded-lg mr-2 shadow">
    <TimesheetActions
      @timesheet={{this.timesheet}}
      @onSubmitHolidays={{this.submitHolidays}}
      @onSubmitTimesheet={{this.submitTimesheet}} />
    <Stats @workLogs={{@model.workLogs}} />
  </div>
</div>