<div class="p-4 grow">
  <FullCalendar
    @onEventsAdded={{this.addEvent}}
    @events={{@model.events}}
    @focusDate={{this.activeDate}}
    @projects={{this.projects}}
  />
</div>
<div class="min-w-96">
  <Stats @month={{@model.month}} @hourLogs={{@model.hourLogs}} />
</div>
{{outlet}}