<div class="flex h-full flex-col">
  <div class="group flex h-12 items-center justify-between border-b">
    <div></div>
    <div class="flex items-center justify-between px-6 py-4 gap-4">
      <LinkTo
        @route="year.month"
        @models={{array (sub @model.year 1) 12}}
        class="text-red-700 opacity-0 transition-opacity duration-150 ease-in-out group-hover:opacity-100"
      >
        {{svg-jar "chevron-left" class="h-5 w-5"}}
      </LinkTo>
      <button type="button" class="text-xl font-medium text-red-700" {{on "click" this.showDatePicker}}>February 2025</button>
      <LinkTo
        @route="year.month"
        @models={{array (add @model.year 1) 1}}
        class="text-red-700 opacity-0 transition-opacity duration-150 ease-in-out group-hover:opacity-100"
      >
        {{svg-jar "chevron-right" class="h-5 w-5"}}
      </LinkTo>
    </div>
    <div class="flex items-center justify-between mr-4">
      <LinkTo class="text-sm font-medium text-red-700" @route="profile">
      <div class="flex items-center gap-2">

        {{svg-jar "person-circle"}}
        {{person-first-name this.userProfile.user.name}}
      </div>
      </LinkTo>
    </div>
  </div>
  <div class="flex grow">
    {{outlet}}
  </div>
</div>